<div class = "item">
<span class = "status" [ngStyle] = "{
    backgroundColor: (details.checkedIn ? 'green' : 'red') 
  }">
</span>
<div *ngIf = "editing">
  <input type = "text" [value]="details.name" (input) = "onNameChange(name.value)" #name>
</div>
<div *ngIf = "!editing">
  {{ details.name }}
</div>
<div class = "item">
 Check In Date : 
 {{ details.checkedDate ? (details.checkedDate | date : 'yMMMMd') : 'Not Checked in'}} 
</div>

<div class = "example-button-row">
  <div class = "example-flex-container">
<button  mat-raised-button color="primary" (click) = "toggleEdit()">
  {{ editing ? 'Done' : 'Edit'}}
</button>

<button mat-raised-button color="warn" (click)= "onRemove()">
  Remove
</button>

<button mat-raised-button color="accent" (click)= "toggleView()">
  View Passenger
</button>

</div>


</div>
<div class = "item">
  <mat-divider></mat-divider>
</div>
</div>

