.item {
 margin-top: 20px;
}

.example-button-row {
    display: table-cell;
    width: 490px;
  }

  .example-flex-container {

    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .btn {
    margin-right: 5px;
  }

  .example-full-width {
    width: 100%;
  }

.status {
    width: 10px;
    height: 10px;
    background-color: red;
    display: block;
    margin: 8px 10px  0 0;
    float: left;
    border-radius: 50%;
    &.checked-in {
        background-color: green;
    };
}