<!-- <div>
    {{ detail | json }}
</div> -->

<form (ngSubmit)="handleSubmit(form)" #form="ngForm" novalidate>
    <div class="mat-title">
        Passenger Name:
        <input type = "text" name = "name" [ngModel] = "detail?.name" #fullname = "ngModel" required>
        <div *ngIf = "fullname.errors?.required && fullname.dirty" class = "error">
        Passenger Name is required!
        </div>
    </div>

    <div class="mat-title">
        Passenger ID:
        <input type = "number" name = "id" [ngModel] = "detail?.id" required>
    </div>

    <div class="mat-title">Checked In:
        <input type = "radio" [value] = "true" name = "checkedIn" [ngModel] = "detail?.checkedIn" (ngModelChange) = "onCheckIn($event)">
        Yes
    

        <input type = "radio" [value] = "false" name = "checkedIn" [ngModel] = "detail?.checkedIn" (ngModelChange) = "onCheckIn($event)"> 
        No
    </div>

    <!--  Checkbox implementation  
        <div>
        <input type = "checkbox" name = "checkedIn" [ngModel] = "detail?.checkedIn" (ngModelChange) = "onCheckIn($event)"> 
        </div>
    -->


    <div *ngIf = "form.value.checkedIn" class="mat-title">
        Check-In Date:
        <input type = "number" name = "checkedDate" [ngModel] = "detail?.checkedDate">
    </div>


    <div class="mat-title">
        Baggage: 
    <select name="baggage" [ngModel]="detail?.baggage">
        <option *ngFor = "let luggage of baggage" [value] = "luggage.key">
            {{luggage.value}}
        </option>
    </select>
    </div>  

<!-- 
    <div>
        {{ form.value | json }}
    </div> -->

    <!-- <div>Valid:  {{ form.valid | json }}</div>
    <div>Invalid: {{ form.invalid | json }}</div> -->


    <button mat-raised-button color="primary" type = "submit" [disabled] = "form.invalid" class="btn">
        Update Passenger
    </button>



</form>